* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: justify;
}

#main-doc {
  margin-left: 310px;
}

#main-doc .main-section {
  margin-top: 20px;
}

#main-doc .main-section header {
  font-weight: bold;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 300px;
}
